.range {
    width: 370px;
    vertical-align: middle;
}

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.controls {
    z-index: 1;
    position: fixed;
    pointer-events: none;
    color: white;
}

.controls input,
.controls button,
.controls label {
    pointer-events: all;
}

.crop-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.crop-layout {
    display: flex;
    max-width: 100vw;
}

.crop-container2 {
    position: relative;
    min-width: 50%;
    height: 75vh;
    flex-grow: 1;
    /* top: 0;
    left: 0;
    right: 50%;
    bottom: 50%; */
}
.controls {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 75vh;
    background-color: aliceblue;
    color: brown;
}

.readyToUse {
    padding: 500px;
    max-width: 1500px;
}

.myriad {
    font-family: Myriad;
}